/*************/
/* MY CUSTOM */
/*************/

/* INLINE CODE */
/* ----------- */

.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
 /* background: #e7e8e2; /* darker */
 /* border-radius: 3px;
  padding: 4px;*/
  color: rgb(106,174,122);
  font-weight: bold;
}

/* TABLE */
/* ----- */

table {
  border-collapse: collapse;
  border-bottom: none;
  border-top: 5px solid rgb(85,85,85);
  max-width: 100%;
  font-size: 20px;
}


tbody > tr > td,
tfoot > tr > td {
  background-color: white;
}

thead, thead > tr {
  /*border-bottom: 1px solid black;*/
  background-color: rgba(23,37,45,1);
  color: rgb(230,230,230);
  border-left: 5px solid rgb(85,85,85);
  border-right: 5px solid rgb(85,85,85);
}

tbody {
  border-bottom: 5px solid rgb(85,85,85);
  border-top: 3px solid rgb(23,37,45);
  border-left: 5px solid rgb(85,85,85);
  border-right: 5px solid rgb(85,85,85);
}

th, td {
  padding: 2px 5px;
  vertical-align: top;
  /*border-bottom: 1px solid black;*/
}
